@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap');
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C1FF72;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-shadow-inset {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .progress-circle {
    stroke-dasharray: 10;
    stroke-dashoffset: 2800;
    animation: progressAnimation 20s linear forwards infinite;
  }

  @keyframes progressAnimation {
    to {
      stroke-dashoffset: 0;
    }
  }

  .pulse-btn {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }