@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500&display=swap');



@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: floatUpDown 2s infinite ease-in-out;
}

/* global.css */
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #191970;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.glow-border {
  position: relative;
  overflow: hidden;
}

.glow-border:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0 0 10px 10px #66ff33; /* Adjust the color and size as needed */
  animation: glowAnimation 2s linear infinite;
}

@keyframes glowAnimation {
  0%, 100% {
    box-shadow: 0 0 10px 10px #66ff33; /* Adjust the color and size as needed */
  }
  25% {
    box-shadow: 0 0 10px 10px #ff5733; /* Adjust the color and size as needed */
  }
  50% {
    box-shadow: 0 0 10px 10px #3366ff; /* Adjust the color and size as needed */
  }
  75% {
    box-shadow: 0 0 10px 10px #ff5733; /* Adjust the color and size as needed */
  }
}